<h1>Convert <%=@c1%></h1>
<p>Go <a href = "/forex">back</a>.</p>
<ul>
  <% @currencies.each do |money|%>
  <li> <a href = "/forex/<%=@c1%>/<%=money%>"> Convert 1 <%=@c1%> to <%=money%>...</a>
  </li>
  <% end %>
</ul>